@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.home {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 48px 48px;
}

@media screen and (max-width: 768px) {
    .home {
      flex-direction: column;
      justify-content: center;
    }
}